html, body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  color: #111;
}

h1 {
  font-size: 42px;
  margin-bottom: 50px;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #111;
}

a:hover {
  color: #1155ff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header img {
  height: 100px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  margin-top: 100px;
  margin-bottom: 80px;
}
