html, body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #111;
}

h1 {
  font-size: 55px;
  margin-bottom: 50px;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

p.text {
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
}

p.legal {
  font-size: 12px;
  line-height: 1.5;
}

a {
  color: #111;
}

a:hover {
  color: #1155ff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .header img {
    height: 400px;
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  margin-top: 100px;
  margin-bottom: 80px;
}

.artist {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

@media only screen and (min-width: 600px) {
  .artist {
    flex-direction: row;
  }
}

.artist img {
  border-radius: 10px;
}

.artist a {
  font-size: 45px;
  text-decoration: none;
}

.download {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.download img {
  width: 200px;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .download {
    flex-direction: row;
  }

  .download img {
    width: auto;
    height: 60px;
  }
}

.carousel video {
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  .carousel video {
    max-width: 600px;
    margin: 0 auto;
  }
}

.carousel > div {
  width: 100%;
  text-align: center;
}

.carousel .slick-arrow::before {
  color: black;
  font-size: 32px;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 24px 0;
}

footer span {
  flex: 1 1 0;
  text-align: end;
}
